<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Personas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/menu-styles.css}">
</head>
<body>
<div class="form-container menu-container">
    <h1>MENÚ PERSONAS</h1>
    <div class="menu-options">
        <a th:href="@{/formulario}" class="submit-btn menu-btn btn-agregar">Agregar Persona</a>
        <a href="#" class="submit-btn menu-btn btn-eliminar">Eliminar Persona</a>
        <a href="#" class="submit-btn menu-btn btn-buscar">Buscar Persona</a>
        <a th:href="@{/listar-personas}" class="submit-btn menu-btn btn-listar">Listar Personas</a>
    </div>
</div>
</body>
</html>