<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Personas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/menu-styles.css}">
</head>
<body>
<div>
    <div class="form-container">
        <h1>MENÚ GESTIÓN</h1>
        <div class="menu-options">
            <a th:href="@{/formulario}" class="menu-btn btn-agregar">
                <i class="fas fa-user-plus"></i> Agregar Persona
            </a>
            <a th:href="@{/listar-personas}" class="menu-btn btn-listar">
                <i class="fas fa-users"></i> Listar Personas
            </a>
        </div>
    </div>
    <div class="global-footer">
        <p>Guía 3 JDBC |
            <a href="https://github.com/ValeroTomas " target="_blank" class="autor-link">Tomás Valero</a> |
            <a href="https://github.com/INizetich" target="_blank" class="autor-link">Ignacio Nizetich</a>
        </p>
    </div>
</div>
</body>
</html>